# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\1_zzzzzzz\Maktab-51\practice\HW\HW_js\Maktab 51-javascript1\jquery\for send\zahra_khalifeh_zadeh_ jquery1_maktab51\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
